* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

:root {
  font-family: sans-serif;
  font-size: 100%;

  --fg: black;
  --bg: white;
}

body {
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

a {
  color: var(--fg);
  padding: 0.25rem;
  margin: -0.25rem;
}
a:hover {
  background-color: var(--fg);
  color: var(--bg);
  text-decoration: none;
}

.monospace {
  font-family: monospace;
  font-size: 0.9em;
}

label {
  line-height: 1.5em;
}

input[type="text"],
input[type="textarea"] {
  padding: 0.3rem 0.4rem;
}

input[type="button"],
input[type="submit"],
button {
  padding: 0.3rem 0.4rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
thead {
  font-weight: bold;
}
tbody tr:nth-child(odd) {
  background-color: #eee;
}
tbody tr:hover {
  background-color: lightgrey;
}
tr {
  line-height: 1.7rem;
}

/*
  Common header:
*/

a#home-link {
  display: flex; /* avoid unwanted padding at bottom */
}
a#home-link:hover {
  background-color: black;
  padding: 2px;
  margin: -2px;
}
#mascot {
  align-self: end;
  image-rendering: crisp-edges;
}

#title {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

header {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin-top: 1rem;
}
